.landing {
  height: 100vh;
  text-align: center;
  background-image: url("./background.webp");
  background-size: cover;
  background-color: #576993;
}

.landing h1,
.landing h2 {
  top: 70vh;
}

.landing h1 {
  font-size: 64px;
  font-weight: bold;
  color: white;
}

.landing h2 {
  color: #c4c6d8;
}

.landing #icon {
  top: 75vh;
  color: #c4c6d8;
  font-size: 56px;
}