.landing {
  height: 100vh;
  text-align: center;
  background-image: url("../../images/original/background.webp");
  background-size: cover;
  background-color: #576993;
}

@media (max-width: 1440px) {
  .landing {
    background-image: url("../../images/responsive/background-large.webp");
  }
}

@media (max-width: 991px) {
  .landing {
    background-image: url("../../images/responsive/background-medium.webp");
  }
}

@media (max-width: 479px) {
  .landing {
    background-image: url("../../images/responsive/background-small.webp");
  }
}

.landing h1,
.landing h2 {
  top: 70vh;
}

.landing h1 {
  font-size: 64px;
  font-weight: bold;
  color: white;
}

.landing h2 {
  color: #c4c6d8;
}

.landing #icon {
  top: 75vh;
  color: #c4c6d8;
  font-size: 56px;
}

.landing a {
  color: #c4c6d8;
  text-decoration: none;
}

.landing a:hover {
  color: #ffffff;
}