.contacts {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: slategrey;
  color: #1f2433;
}

.contacts ul {
  list-style-type: none;
  overflow: hidden;
}

.contacts li {
  display: inline-block;
}

.contacts a {
  text-align: center;
  font-size: 24px;
  padding: 10px 5px;
  text-decoration: none;
  color: #aaaaaa;
  display: inline-block;
}

.contacts a:hover {
  color: #1f2433;
}